@import url('./css/layout');
@import url('./css/keyFrames');

.App {
  background: #FFF;
  display: flex;
  margin: auto;

}

.App #cards {
  display: flex;
  width: 95%;
  height: 60%;
  max-height: 670px;
  margin: auto;

  flex-direction: column;
  justify-content: space-between;
  position: relative;
}


.animation__shake:hover {
  animation: shake 6.6s alternate infinite;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.302);
}