
.App #cards {
    display: flex;
    width: 95%;
    height: 60%;
    max-height: 670px;
    margin: auto;
  
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

@media (min-width: 1160px) {
    .App {
        display: flex;
        flex-direction: row;
        max-width: 2200px;
        box-sizing: border-box;
        height: 100%;
    }

    .App>section,
    .App>aside {
        height: 100%;

    }

    .App>section {
        position: relative;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    .App>section header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        z-index: 1;
    }

    .App>section header>div {
        display: flex;
        gap: .4rem;
    }

    .App>aside {
        width: 20%;
        min-height: 100vh;
        overflow: hidden;
    }

    .App #bttnBar {
        opacity: 0;
        z-index: -1;
    }

}


@media (max-width: 1160px) {
    .App {
        display: flex;
        flex-direction: row;
        max-width: 2200px;
        box-sizing: border-box;
        height: 100%;
    }

    .App>section,
    .App>aside {
        height: 100%;

    }

    .App>section {
        position: relative;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .App>section header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        z-index: 1;
    }

    .App>section header>div {
        display: flex;
        gap: .4rem;
    }

    .App>aside {
        width: 10%;
        min-height: 100vh;
        overflow: hidden;
    }

}


@media (max-width: 800px) {
    .App {
        display: flex;
        flex-direction: column;
        max-width: 2200px;
        box-sizing: border-box;
        height: 100%;
    }

    .App>section,
    .App>aside {
        height: 100%;

    }


    .App>section {
        position: relative;
        width: 100%;
        max-height: 100vh;
        display: flex;
        flex-direction: column-reverse;
    }

    .App #cards {
        margin-right: 0%;
        width: 80%;
        height: 240px;
    }

    
}