@media (min-width: 950px) {
    .App {
        display: flex;
        flex-direction: row;
        max-width: 2200px;
        box-sizing: border-box;
        height: 100%;
    }

    .App>section,
    .App>aside {
        height: 100%;

    }

    .App>section {
        position: relative;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    .App>section header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        z-index: 1;
    }

    .App>section header>div {
        display: flex;
        gap: .4rem;
    }

    .App>aside {
        width: 20%;
        min-height: 100vh;
        overflow: hidden;
    }

    .App .PartialSection {
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    }

}